<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Developer" value="coelhta" />
    <add key="Password" value="780031" />
  </appSettings>
  <connectionStrings>
    <add name="LocalConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>