<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGA.DAL.Properties.Settings.DBSGA01ConnectionString"
            connectionString="Data Source=DESKTOP-HL277SI;Initial Catalog=DBSGA01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>